# Python 
__pycache__/ 
*.pyc 
*.pyo 
 
# Ambientes virtuais 
venv/ 
.env/ 
 
# Dados grandes 
*.csv 
*.zip 
 
# Resultados gerados 
output/ 
*.pdf 
*.png 
 
# Gephi 
*.gephi 
*.gexf~ 
 
# VS Code 
.vscode/ 
